/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

.container-about-page {
	width: 900px;
    margin: auto;	
    *//border: 2px solid red;
}

.logo1 {
    margin: 20px 10px;
    width: 860px; 
}

header {
    display: flex;
    justify-content: space-between;
    align-content: space-around;
    margin-left: 2px;
    margin-top: 30px;
      
}

header nav a {
    margin: 0px 20px;
    margin-right: 50px;
}

.middle-content {
	margin: 50px auto;
	width: 900px;
	display: flex;
	flex-wrap: wrap;
	/* justify-content: space-between; */
    justify-content: center;
    align-content: space-evenly;
    
}

.middle-content .item1 {
    width: 400px;
	height: 300px;
    margin: 20px;
    margin-bottom: 70px;
	
}

.middle-content .item2 {
    width: 400px;
	height: 300px;
	margin: 20px;
	
	
}

.middle-content .item3 {
    width: 400px;
	height: 300px;
	margin: 20px;
    margin-top: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
	
}

.middle-content .item4 {
    width: 400px;
	height: 300px;
    margin: 20px;
    padding: 0 1%;
    padding-top: 30px;
    padding-bottom: 30px;
    
    
}

.about {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
    
}

.aboutheader {
    margin-right: 820px;
}

footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: rgb(192, 189, 189);
    text-decoration: none;
}

.about .text-container {
    margin-left: 15px;
    padding-bottom: 20px; 
     
}

.bottom-content {
    padding-top: 90px;
    padding-bottom: 35px;
    
}

button {
    border-radius: 12px;
    background: white;
    padding-top: 10px;
    padding-bottom: 10px;
    
    
}

p {
    padding-bottom: 20px;
    padding-top: 10px;
}

.border {
    border-bottom: 1px dashed black;
    padding-bottom: 20px;
}